
/* Profile styles */
.profile-content {
    padding: 20px;
  }
  
  .profile-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .profile-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .profile-field {
    display: flex;
    flex-direction: column;
  }
  
  .profile-label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .profile-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%;
    box-sizing: border-box;
  }
  
  .profile-input:focus {
    outline: none;
    border-color: #4f46e5;
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.2);
  }
  
  .profile-back-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3b82f6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .profile-back-btn:hover {
    background-color: #1d4ed8;
  }

  .profile-update-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #10b981; /* Màu xanh lá */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }
  
  .profile-update-btn:hover {
    background-color: #059669; /* Màu xanh đậm hơn khi hover */
  }

  .profile-save-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #b93710; /* Màu xanh lá */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }
  
  .profile-save-btn:hover {
    background-color: #b93710; /* Màu xanh đậm hơn khi hover */
  }

  .profile-buttons {
    display: flex;
    justify-content: space-between; /* Đặt các nút ở hai đầu */
    margin-top: 20px;
  }